

html {
  width: 100vw;
}

body {
  background-color: #282c34;
}

.App {
  color: white;
}

/* NAVBAR */

a {
  margin: 0px 20px;
  font-size: 1.2rem;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTopPartial {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  background-color: rgba(11, 63, 75, 0.7);
  height: 55px;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.nav-link {
  color: rgba(255,255,255,.8) !important;
}

.nav-link:hover {
  color: rgba(255,255,255, 1) !important;
}

h1 {
  margin: 0px 0 20px 0;
}

/* ABOUT */

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: rgb(191, 196, 201);
}

.about {
  height: calc(100vh - 60px);
  min-height: fit-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

section {
  padding: 55px 0 55px 0;
}

#about {
  background-image: url(./components/images/drone1.jpg);
  /* min-height: fit-content; */
  /* max-width: 100%; */
  /* background-size: contain; */
  /* background-position:center; */
  /* object-fit: cover; */
  /* max-height: 100vh; */
}

.container, section {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typewrite {
  font-size: 5rem;
  min-height: 80px;
}

.title-typewrite {
  position: relative;
  text-shadow: 2px 2px 4px #353434;
  /* animation: 1.5s ease-out 0s 1 slideInFromLeft; */
}

p {
  font-size: 1.5rem;
}



.contact-icons {
  position: relative;
  margin-top: 30px;
  animation: 2s ease-out 0s 1 slideInFromLeft;
  /* animation-delay: 2s; */
}

/*  BACKGROUND PICTURES */

/* #drone2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;  
  object-position: 70%;
  z-index: -1;
}

#drone1 {
  position: absolute;
  background-position-y: center;
  left: 0;
  width: 100vw;
  object-fit: cover;  
  object-position: 80%;
  z-index: -1;
} */

.img-container {
  max-height: 100vh;
  overflow: hidden;
}

#contact {
  background-image: url(./components/images/drone2.jpg);   
}

#contact, #about, #projects {
  width: 100vw;
  /* Background image is centered vertically and horizontally at all times */ 
  background-position: center center; /* Background image doesn’t tile */ 
  background-repeat: no-repeat; /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */ 
  background-attachment: fixed;
   /* This is what makes the background image rescale based on the container’s size */ 
  background-size: cover; /* Set a background color that will be displayed while the background image is loading */ background-color: #464646; 

}

/* SKILLS */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  font-size: 4rem;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 85%;
  padding: 25px 0 25px 0;
  /* animation: 2s ease-in 0s 1 slideInFromTopPartial; */
}

.icons, .form-row, #footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.icons:hover {
  color: rgb(49, 141, 162);
}

/* Projects */

#projects {
  /* background-image: url(./components/images/beach.jpg);    */
  background-color:rgb(49, 141, 162);
}

.project {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px 0 30px 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 25px;
}

.project-img {
  width: 500px;
}

.carousel-container {
  height: fit-content;

}

.carousel-caption {
  background-color:#282c34d5;
  margin-bottom: 30px;
}

.carousel-card {
  background-position: center center;
}

button {
  background-color: aliceblue;
  padding: 10px;
  min-width: 100px;
  border-radius: 10px;
  border: none;
}

button:hover {
  background-color: transparent;
  color: aliceblue;
  border: aliceblue;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
}

.button-div {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 20px;
  border: none;
}

/* EDUCATION */

.certification {
  font-size: 1.2rem;
}

.education-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  width: 80vw;
  padding: 25px 0 25px 0;
}

.education-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.resume-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.resume-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fa-file {
  font-size: 6rem;
}

.resume-icon:hover {
  color: rgb(49, 141, 162);
}


/* EMAIL FORM */

.form-control {
  background-color: #282c34;
  color: aliceblue;
  border-bottom: aliceblue;  
  border-radius: 1px;
  border-style: solid;
  border-top: #282c34;
  border-right: #282c34;
  border-left: #282c34;
}

form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0 20px 0;
}



/* FOOTER */

#footer {
  background-color: rgba(11, 63, 75, 0.7);
  width: 100vw;
  /* background-color: aliceblue; */
  padding: 20px;
  /* margin-top: 130px; */
}

.copyright {
  font-size: 1rem;
}



@media only screen and (max-width: 600px) {
  .typewrite {
    font-size: 2rem;
    min-height: 80px;
  }

  .project-img {
    width: 350px;
  }

  .education-row {
    gap: 20px
  }

  h4 {
    font-size: 0.9rem;
  }

}